{% block project_type_row %}
    {% for type in form.children %}
        {% set attrs = type.vars.attr %}
        <div class="col-md-4">
            <label data-action="click->project#selectType" data-project-target="projectCard" class="project-type-card card h-100 p-3 {% if type.vars.data is same as(true) %}selected{% endif %}">
                <input type="radio" name="{{ type.vars.full_name }}" value="{{ type.vars.value }}" id="{{ type.vars.id }}" {% if type.vars.data is same as(true) %}checked{% endif %}>
                <div class="d-flex align-items-start">
                    <i class="bi {{ attrs['data-icon'] }} fs-2 {{ attrs['data-icon-color'] }} me-2"></i>
                    <div>
                        <h6 class="mb-1">{{ attrs['data-emoji'] }} {{ type.vars.value|upper }}</h6>
                        <small class="text-muted">
                            {{ attrs['data-description'] }}
                        </small>
                    </div>
                </div>
            </label>
        </div>
    {% endfor %}
    {{ form_errors(form) }}
{% endblock %}
